.container
  .row
    .col-md-12
      .progress
        .progress-bar.progress-bar-success{style: "width: 20%"}
          %span.sr-only 20% Complete (success)
        .progress-bar.progress-bar-warning{style: "width: 20%"}
          %span.sr-only 20% Complete (warning)
  .row
    .col-md-12
      %h1.title.center Current Resume
      %hr

      %p We are trying to understand your previous accomplishments. We believe that passionate people cannot sit still. You can upload your current resume below.

      %h4.title Upload your Resume
      = form_for :resume, url: step_resume_path, method: :put, html: { class: "form-inline", role: "form", multipart: true} do |f|
        - if @resume.application.errors.any?
          %p= @resume.application.errors.full_messages
        - if @resume.errors.any?
          %p= @resume.errors.full_messages
        .form-group
          = f.file_field :file, class: "form-control"
        .form-group
          = f.submit 'Upload', class: "btn btn-warning btn-submit"