.container
  %h2.title.center.orange Admin Dashboard

  .row
    - @steps.each do |step|
      .col-md-2.step-box.center
        %h4.title
          = link_to(step.capitalize, subset_of_admin_applicants_path(step))
        %h4
          = "#{@counts[step]} applicants"
        %h6
          = "#{applicants_per_step(@counts, step)}% of total"
