.container
  %h2.title.center.orange Admin Dashboard

  %h3.title.center Steps
  .row
    - @steps.each do |step|
      .col-md-2.step-box.center{ class: "#{step}" }
        %h4.title
          = link_to(step.capitalize, subset_of_admin_applicants_path(step))
        %h4
          = "#{@step_counts[step]} applicants"
        %h6
          = "#{applicants_per_step(@step_counts, step)}% of total"

  %h3.title.center Statuses
  .row
    - @status_names.each do |status_name|
      .col-md-2.status-box.center
        %h4.title
          = link_to status_name.gsub('_', ' ').capitalize, in_status_admin_applicants_path(status_name) # what a stupid path name -.^
        %h4
          = "#{@status_counts[status_name]} applicants"
