%h2.title.orange Evaluations

%hr

- unless application.initial_evaluations.empty?
  %h4.title Evaluation Scores
  = render "admin/evaluations/evaluations", evaluations: application.initial_evaluations
  = render "admin/evaluations/notes", evaluations: application.initial_evaluations
- unless application.interviews.empty?
  %h4.title Interview Notes
  = render "admin/evaluations/evaluations", evaluations: application.interview_notes
  = render "admin/evaluations/notes", evaluations: application.interview_notes
- unless application.logic_evaluations.empty?
  %h4.title Logic Evaluations
  = render "admin/evaluations/evaluations", evaluations: application.logic_evaluations
  = render "admin/evaluations/notes", evaluations: application.logic_evaluations
