%h2.title.orange Evaluations

%hr

- unless application.initial_evaluations.empty?
  %h4.title Initial Evaluations
  = render "admin/evaluations/evaluations", evaluations: application.initial_evaluations
  = render "admin/evaluations/notes", evaluations: application.initial_evaluations
- unless application.interviews.empty?
  %h4.title Interviews
  = render "admin/evaluations/evaluations", evaluations: application.interviews
  = render "admin/evaluations/notes", evaluations: application.interviews
- unless application.logic_evaluations.empty?
  %h4.title Logic Evaluations
  = render "admin/evaluations/evaluations", evaluations: application.logic_evaluations
  = render "admin/evaluations/notes", evaluations: application.logic_evaluations
