%h2.title.orange Evaluations

%hr

%h4.title Evaluation Scores

%hr

%table.table
  %thead
    %tr
      - application.evaluations.first.criteria.each do |criterion|
        %th.title= criterion.title
      %th.title Reviewer
      %th.title Actions
  %tbody
    %tr
      - application.evaluations.each do |evaluation|
        - evaluation.criteria.each do |criterion|
          %td= criterion.score

        %td
          = evaluation.evaluator.name
        %td
          = link_to 'Edit Application', edit_admin_evaluation_path(evaluation)

%h4.title Evaluation Notes

%hr

- application.evaluations.each do |evaluation|
  %tr
    %th{colspan: 2}= evaluation.evaluator.name
  - evaluation.criteria.select(&:has_notes?).each do |criterion|
    %tr
      %th= criterion.title
      %td= criterion.notes
