.container
  .row
    .col-md-11.step-box.main
      %p
        #{link_to "admin dashboard", admin_path} / #{link_to @current_step, subset_of_admin_applicants_path(@current_step)} / #{@evaluation.applicant_name.downcase}
      %h2.title.orange #{@evaluation.applicant_name}
      %p <b>Evaluator:</b> #{@evaluation.evaluator_name}

      = render 'admin/applicants/application', applicant: @evaluation.applicant, application: @evaluation.application
  .row
    .col-md-11.step-box.main
      %h2.title.orange #{@evaluation.title}
      %hr
      = form_tag admin_evaluation_path(@evaluation), method: :put do
        %table.table
          - @evaluation.criteria.each do |criterion|
            %tr
              %th.title.orange
                = criterion.title
              %th.title Score
              %th.title Criteria
            %tr
              %td.description
                - criterion.scale.each do |option|
                  %p
                  = "#{option.value}. #{option.label}"
                  %br
                  = option.description
              %td
                = select_tag "criteria[#{criterion.id}][score]", options_for_select((0..3).to_a.reverse, criterion.score), include_blank: true, class: "form-control"
              %td
                = text_area_tag "criteria[#{criterion.id}][notes]", criterion.notes, class: "form-control criteria"
        %hr
        = submit_tag 'Save Evaluation', class: "btn btn-warning btn-site"
