.container
  .row
    .col-md-2
    .col-md-8
      %h2.title.center
        = "#{@quiz.current_quiz_question} / #{@quiz.size} - "
        = @quiz.question.title

      %hr

      %p
        = @quiz.question.setup

      - @quiz.question.rules.each do |rule|
        %p= rule

      %hr

      %p
        %b
          = @quiz.question.prompt

      = form_tag quiz_path(@quiz.question.slug), method: :put do |f|
        = hidden_field_tag "quiz[fingerprint]", @quiz.question.fingerprint
        = hidden_field_tag "quiz[slug]", @quiz.question.slug
        - if @quiz.question.errors.any?
          %p= @quiz.question.errors.full_messages

        - @quiz.question.options.each do |option|
          = hidden_field_tag "quiz[options][#{option.choice}]", option.statement
          = radio_button_tag "quiz[answer]", option.choice
          = label_tag "quiz_answer_#{option.choice}", option.statement, class: "question-label"
          %br

        %hr

        = submit_tag 'Submit', class: "btn btn-lg btn-warning btn-site"
    .col-md-2