.container
  .row
    .col-md-2
    .col-md-8
      %h2.title.center= @question.title

      %hr

      %p= @question.setup

      - @question.rules.each do |rule|
        %p= rule

      %hr

      %p
        %b= @question.prompt

      = form_tag quiz_path(@question.slug), method: :put do |f|
        = hidden_field_tag "quiz[fingerprint]", @question.fingerprint
        = hidden_field_tag "quiz[slug]", @question.slug
        - if @question.errors.any?
          %p= @question.errors.full_messages

        - @question.options.each do |option|
          = hidden_field_tag "quiz[options][#{option.choice}]", option.statement
          = radio_button_tag "quiz[answer]", option.choice
          = label_tag "quiz_answer_#{option.choice}", option.statement, class: "question-label"
          %br

        %hr

        = submit_tag 'Submit', class: "btn btn-lg btn-warning btn-site"
    .col-md-2