.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Writing Sample

      %hr

      %p In 500 words or fewer, explain a complex topic from your area of expertise.

      %p Writing should be original to this application. Citations are not necessary but welcome if they feel appropriate. Use <a href='http://daringfireball.net/projects/markdown/syntax'>markdown formatting</a> as needed.

      %p Post the text as a private gist on <a href='https://gist.github.com/' target='_blank'>gist.github.com</a> and submit the URL below.

      %p Please ensure that the document contains <strong>no other formatting than markdown</strong>. In other words, we do not want to see any HTML, RTF or MSWord formatting.

      %p Also make sure that the text does not require horizontal scrolling to read. Break your lines at 78 columns if you see that the text does scroll.

      %hr

      %div.center
        %h3.title URL to Gist

        = form_for :essay, url: step_essay_path, method: :put, html: { class: "form-inline", role: "form" }  do |f|
          - if @essay.errors.any?
            %p= @essay.errors.full_messages
          .form-group
            = f.text_field :url, placeholder: "url", class: "form-control url-input"
          .form-group
          = f.submit 'Save', class: "btn btn-warning btn-submit"
    .col-md-2