.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Writing Sample

      %hr

      %p= mt 'steps.essay'
      %hr

      %div.center
        %h3.title URL to Gist

        = form_for :essay, url: step_essay_path, method: :put, html: { class: "form-inline", role: "form" }  do |f|
          = render "shared/form_errors", object: @essay
          .form-group
            = f.text_field :url, placeholder: "https://gist.github.com/yourname/somethingsomething", class: "form-control url-input"
          .form-group
          = f.submit 'Save', class: "btn btn-warning btn-submit"
    .col-md-2