.container
  .row
    = render "step/shared/progress_bar"
  .row
    .col-md-2
    .col-md-8
      %h2.title.center Biographical Basics

      %hr

      %p= t('steps.bio')

      %hr

      .bio-form.center
        %h3.title Bio Information
        = form_for :bio, url: step_bio_path, method: :put, html: { class: "form", role: "form" } do |f|
          = render "step/shared/errors", step: @bio
          .form-group
            %label.pull-left NAME
            = f.text_field :name, placeholder: "name", class: "form-control"
          .form-group
            %label.pull-left EMAIL
            = f.text_field :email, placeholder: "email", class: "form-control email-input"
          .form-group
            %label.pull-left LOCATION
            = f.text_field :location, placeholder: "location", class: "form-control location-input"
          .form-group
            = f.submit 'Submit Information', class: "btn btn-warning btn-submit pull-right"
    .col-md-2
