= button_to('Logout', logout_path, method: 'delete')
= "Welcome, #{current_user.username}"

- if current_user.applying?
  = link_to('Continue/Review Application', apply_path)
- else
  = link_to('Start Application!', apply_path)

%h2 What We Want
%p We're trying to assess both your character an aptitude for this program. A completed application will include:

%ul
  %li
    %h3 Biographical basics
    %p We ask you some simple details about yourself and need some information on how best to contact you.
  %li
    %h3 Current Resume
    %p We are interested in what you have accomplished so we ask you to include a resume. We are not looking for particular experiences or buzzwords, we simply want to see the great work you have accomplished to date.
  %li
    %h3 A code or writing sample
    %p Understanding your ability to communicate in English is an important asset and one that we value.
  %li
    %h3 Short-answer responses in video form
    %p Give us a chance to see you by creating a video that quickly answers questions that allow us to see your passion and creativity.
  %li
    %h3 Logical problem solving
    %p A series of small puzzles that allow us to gain insight into your analytic mind as to how you solve problems.

%p The application will give you the specific instructions for each component along the way.

