%hr
.col-md-10
  .applicant-actions
    - if applicant_actions.has_resume?
      = link_to 'View Resume', applicant_actions.resume_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.has_essay?
      = link_to 'View Essay', applicant_actions.essay_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.has_video?
      = link_to 'View Video on YouTube', applicant_actions.video_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.quiz_complete?
      = link_to "View Quiz (#{applicant_actions.quiz_score}/#{applicant_actions.quiz_size})", quiz_admin_applicant_path(applicant), class: 'btn btn-default'

    - if applicant_actions.can_evaluate?
      = link_to 'Create Initial Evaluation', initial_admin_evaluations_path(applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_send_rejected_at_initial_evaluation_notification?
      = link_to 'Sent Rejection', send_rejection_admin_notifications_path(applicant, at: 'initial_evaluation'), method: :post, class: 'btn btn-danger'

    - if applicant_actions.can_schedule_interview?
      = link_to 'Scheduled Interview', schedule_interview_admin_invitations_path(applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_interview?
      = link_to 'Create Interview', interview_admin_evaluations_path(applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_send_rejected_at_interview_notification?
      = link_to 'Sent Rejection', send_rejection_admin_notifications_path(applicant, at: 'interview'), method: :post, class: 'btn btn-danger'

    - if applicant_actions.can_evaluate_logic?
      = link_to 'Create Logic Evaluation', logic_admin_evaluations_path(applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_send_rejected_at_logic_evaluation_notification?
      = link_to 'Sent Rejection', send_rejection_admin_notifications_path(applicant, at: 'logic_evaluation'), method: :post, class: 'btn btn-danger'

    - if applicant_actions.can_invite?
      = link_to 'Sent Invitation', admin_invitations_path(applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_respond_invitation?
      = link_to 'Accepted Invitation', accept_admin_invitations_path(applicant), method: :post, class: 'btn btn-success'
      = link_to 'Declined Invitation', decline_admin_invitations_path(applicant), method: :post, class: 'btn btn-danger'
