%hr
.col-md-10
  .applicant-actions
    - if applicant_actions.has_resume?
      = link_to 'View Resume', applicant_actions.resume_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.has_essay?
      = link_to 'View Essay', applicant_actions.essay_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.has_video?
      = link_to 'View Video on YouTube', applicant_actions.video_url, target: '_blank', class: 'btn btn-default'

    - if applicant_actions.quiz_complete?
      = link_to "View Quiz (#{applicant_actions.quiz_score}/#{applicant_actions.quiz_size})", quiz_admin_applicant_path(@applicant), class: 'btn btn-default'

    - if applicant_actions.can_evaluate?
      = link_to 'Create Evaluation', admin_evaluations_path(@applicant), method: :post, class: 'btn btn-warning'

    - if applicant_actions.can_interview?
      = link_to 'Create Interview Notes', admin_evaluations_path(applicant, interview: true), method: :post, class: 'btn btn-warning'