- if applicant.email.blank?
  %p Email address is missing
- else
  %p <b>Email:</b> #{link_to applicant.email, "mailto:#{applicant.email}"}
%p <b>Location:</b> #{applicant.location}

%hr

- if application.resume?
  = link_to 'View Resume', application.resume_url, target: '_blank', class: "btn btn-default"

- if application.essay_url
  = link_to 'View Essay', application.essay_url, target: '_blank', class: "btn btn-default"

- if application.video_url
  %div= render 'site/youtube', url: applicant.application.video_url

- if !application.evaluated_by?(current_user)
  = link_to 'Create Evaluation', admin_evaluations_path(@applicant), method: :post, class: "btn btn-warning"