.col-md-7

  %h2.title.no-padding.orange
    = gravatar_image_tag(applicant.email, class: "img-border img-circle applicant-img", gravatar: { size: 80 })
    = applicant.name

  .applicant-info

    %h5.title Status
    %p= applicant.application.status.tr '_', ' '

    %h5.title Application Score
    %p
      = applicant.application.score
      points

    %h5.title Email
    %p
      - if applicant.email.blank?
        Email address is missing
      - else
        = link_to applicant.email, "mailto:#{applicant.email}"

    %h5.title Location
    %p= applicant.location

    %h5.title GitHub Profile
    %p= link_to applicant.username, "https://github.com/#{applicant.username}"

