.row.initials
  - applicants_initials(applications).each do |initial|
    %button.btn.btn-default.btn-sm.btn-applicant{id: "initial"}
      = initial
  %button.btn.btn-default.btn-sm.btn-applicant#all Show All
  = button_to "By Date", { action: :by_date }, method: :get, class: "btn btn-default btn-sm btn-applicant"
  = button_to "By Name", { action: :index }, method: :get, class: "btn btn-default btn-sm btn-applicant"
  = button_to "By Quiz Score", { action: :by_quiz_score }, method: :get, class: "btn btn-default btn-sm btn-applicant"
  = button_to "By Application Score", { action: :by_score }, method: :get, class: "btn btn-default btn-sm btn-applicant"
  %button.btn.btn-default.btn-sm.btn-applicant.show_inactive    Inactive
  %button.btn.btn-default.btn-sm.btn-applicant.show_permahidden Permahidden
