.container
  .row
    .col-md-11.step-box.main
      %p
        = link_to "admin dashboard", admin_path
        = " / "
        = @step
      %h2.title.orange
        = "Step: #{@step.capitalize}"
      %h4
        = "#{@counts[@step.to_sym]} applicants completed this step"
      %h6
        = "#{applicants_per_step(@counts, @step.to_sym)}% of total applicants"
  .row
    .col-md-11.step-box.main
      = render "applicants_filter", applications: @applications
      .row
        %table.table.table-striped-with-hidden
          %thead
            %tr#head
              %th.title Name
              %th.title Email
              %th.title Location
              %th.title Quiz
              %th.title Score
              %th.title
              %th.title
              %th.title
          %tbody
          - @applications.each do |application|
            %tr{class: 'applicant', id: "#{application.user.name[0]}", "data-hide_until_active" => application.hide_until_active.to_s, "data-permahide" => application.permahide.to_s}
              %td
                = link_to(application.user.name, admin_applicant_path(application.user))
              %td
                = link_to application.user.email, "mailto:#{application.user.email}"
              %td
                = truncate(application.user.location, length: 30)
              %td
                - if application.quiz_generated?
                  = "#{calculate_quiz_score(application)}%"
                  = "(#{application.quiz_duration} min)"
                - else
                  Pending
              %td
                = application.score
                points
              %td
                - if application.complete?
                  - if application.evaluated_by?(current_user)
                    = link_to "View Evaluations", admin_applicant_path(application.user)
                  - else
                    = link_to "Evaluate", admin_evaluations_path(application.user), method: :post
                - else
                  .progress_indicator
                    = progress_indicator(application)
              %td
                = form_for application.user, url: admin_applicant_path(application.user), method: :patch, remote: true, html: { class: 'hide_until_active' } do |f|
                  = f.hidden_field :hide_until_active, value: true
                  = f.submit '', title: 'Hide until user becomes active'
              %td
                = form_for application.user, url: admin_applicant_path(application.user), method: :patch, remote: true, html: { class: 'permahide' } do |f|
                  = f.hidden_field :permahide, value: true
                  = f.submit '', title: 'Permahide'
