%h1= @applicant.name

- if @applicant.email.blank?
  %p Email address is missing
- else
  %p
    %a{href: "mailto:#{@applicant.email}"}= @applicant.email

%p= @applicant.location

- if @application.resume?
  %p= link_to 'View Resume', @application.resume_url, target: '_blank'

- if @application.essay_url
  %p= link_to 'View Essay', @application.essay_url, target: '_blank'

- if @application.video_url
  %div= render 'site/youtube', url: @applicant.application.video_url


